.footer {
    background-color: black;
}
.footer ul{
    list-style: none;
}
.footer .content-footer {
    padding: 80px 0;
    color: white;
}
.footer .items-footer {
    display: grid;
    grid-template-columns: 39% 15% 15% 25%;
    grid-column-gap: 2%;
}
.footer .item-footer-logo img {
    margin-bottom: 40px;
}
.footer .item-footer-logo p.item-footer-desc {
    line-height: 27px;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #888;
    margin-bottom: 40px;
    padding-right: 20px;
}
.footer h2 {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 40px;
}
.footer .nav-footer li {
    padding: 10px 0;
}
.footer .nav-footer a {
    color: #888;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 0;
    transition: all 0.3s;
}
.footer .nav-footer a:hover {
    padding-left: 7px;
    color: white;
}
.footer .subscribe {
    position: relative;
}
.footer .subscribe .input-subscribe {
    width: 100%;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 1px solid #888;
    padding: 10px;
    text-transform: capitalize;
}
.footer .subscribe a .icon-input-subscribe {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 20px;
    color: white;
}
.footer ul.nav-footer-icons {
    padding: 40px 0;
}
.footer ul.nav-footer-icons li {
    display: inline-block;
}
.footer .nav-footer-icons li a {
    color: #888;
    padding: 15px;
    transition: color 0.3s;
}
.footer .nav-footer-icons li a:hover{
    color: white;
}
.footer .nav-footer-icons li a i {
    font-size: 15px;
}
.footer .footer-bottom {
    border-top: 1px solid #888;
    padding: 20px 0;
    color: #888;
    font-size: 13px;
    text-transform: capitalize;
}
.footer .footer-bottom .payement{
    display: flex;
    justify-content: space-between;
}
.footer-bottom a {
    color: #888;
}
.footer-bottom .payement .nav-icons-payement li{
    display: inline-block;
}
.footer-bottom .payement img {
    /* opacity: 3.1; */
    filter: grayscale(1);
}
.footer-bottom .payement img:hover{
    filter: grayscale(0);
}


/*tablette*/
@media screen and (max-width: 768px) and (min-width: 401px) {
    .footer .items-footer {
        grid-template-columns: repeat(1,100%);
    }
    .item-footer-information,
    .item-footer-account,
    .item-footer-subscribe{
        margin-bottom: 30px;
    }
}
/*mobile*/
@media screen and (max-width: 400px){
    .footer .items-footer {
        grid-template-columns: repeat(1,100%);
    }
    .item-footer-information,
    .item-footer-account,
    .item-footer-subscribe{
        margin-bottom: 30px;
    }

}