.content-seape {
    display: grid;
    grid-template-columns: 32% 65%;
    grid-column-gap: 3%;
}
.content-seape img {
    width: 100%;
}
.seape .date-item-seape {
    position: absolute;
    display: block;
    color: #7b5244;
}
.seape i.jour-item-seape {
    display: block;
    font-size: 30px;
}
.seape i.mois-item-seape {
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
}

/*tablette*/
@media screen and (max-width: 768px) and (min-width: 401px) {
    .content-seape {
        grid-template-columns: repeat(1, 100%);
    }
    .item-seape-video {
        margin-bottom: 20px;
    }
    .seape .item-seape-desc .btn-testimonel {
        bottom: 13px;
    }
}

/*mobile*/
@media screen and (max-width: 400px){
    .item-seape-video {
        margin-bottom: 20px;
    }
    .content-seape {
        grid-template-columns: repeat(1, 100%);
    }
    .seape .header-item-seape {
        padding: 60px 0 20px 0;
    }
    .seape .item-seape-desc .header-item-seape .title-item-seape{
        font-size: 16px;
    }
}